<section class="about">
  <div class="container">
    <h2 class="title">
      Про нас
    </h2>
    <div class="about__inner">
      <img class="about__inner-img" src="images/about-img.png" alt="about foto">
      <div class="about__inner-box">
        <p class="about__text">
          <span>Зелена Палітра</span>
          прагне досягти гармонії між природою та архітектурою, створюючи  неповторні ландшафти, які враховують естетику, функціональність та стійкість до зношування.
        </p>
        <p class="about__text">
          <span>Зелена Палітра</span>
          завдяки своєму професійному підходу та інноваційним рішенням,стала популярним вибором для тих, хто цінує красу і комфорт у своєму оточенні.
        </p>
        <h3 class="about__inner-title">
          Наші досягнення
        </h3>
        <dl class="about__inner-list">
          <div class="div__dl">
            <dt>20</dt>
            <dd>років досвіду</dd>
          </div>
          <div class="div__dl">
            <dt>250</dt>
            <dd>реалізованих проектів</dd>
          </div>
          <div class="div__dl">
            <dt>25000</dt>
            <dd>посаджених дерев</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>