<section class="contacts">
  <div class="container">
    <h2 class="title">Контакти</h2>
    <div class="contacts__inner">
      <img class="contacts__img" src="images/contacts.png" alt="img cont">
      <div class="contacts__content">
        <p class="contacts__text">
          Зателефонуйте зараз та розпочніть трансформацію вашого саду у справжній рай на землі!
        </p>
        <dl class="contacts__info">
          <dt>Телефон</dt>
          <dd>
            <a href="tel:38099299996">+38 099 299 996</a>
          </dd>
          <dt>Адреса</dt>
          <dd>
            м. Київ, вул. Зелена, 5б
          </dd>
          <dt>Графік роботи</dt>
          <dd>
            пн-сб з 10:00 до 20:00
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
