<section class="contakt-form">
  <div class="container">
    <div class="contakt-form__inner">
      <div class="contakt-form__content">
        <h2 class="title">Детальніше</h2>
        <p class="sub-title contakt-form__text">
          Хочу безкоштовний виїзд на об’єкт
        </p>
        <form class="form" action="#">
          <p class="form__text">
            Укажіть свої контактні дані і наш менеджер перетелефонує Вам
          </p>
          <input class="form__input" type="text">
          <input class="form__input" type="text">
          <input class="form__input" type="text">
        </form>
      </div>
      <div class="contakt-form__images">
        <img class="contakt-form__img" src="images/form-1.jpg" alt="form foto">
        <img class="contakt-form__img" src="images/form-2.jpg" alt="form foto">
        <img class="contakt-form__img" src="images/form-3.jpg" alt="form foto">
      </div>
    </div>
  </div>
</section>