<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Про нас</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Проекти</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Послуги</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Ціна</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Контакти</a>
            </li>
          </ul>
        </nav>
        <ul class="social__list">
          <li class="social__list-item">
            <a class="social__list-link" href="#">
              <img src="images/social-1.svg" alt="social images">
            </a>
          </li>
          <li class="social__list-item">
            <a class="social__list-link" href="#">
              <img src="images/social-2.svg" alt="social images">
            </a>
          </li>
          <li class="social__list-item">
            <a class="social__list-link" href="#">
              <img src="images/social-3.svg" alt="social images">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__right">
        <a class="footer__logo" href="#">
          <img src="images/logo.svg" alt="logo compani">
        </a>
        <p class="footer__text">
          Реалізуйте Ваші зелені мрії з нами
        </p>
      </div>
    </div>
  </div>
</footer>