<header class="header">
  <div class="container">
    <div class="header-top">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="Логотип">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">
              про нас
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              проекти
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              послуги
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              ціни
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              контакти
            </a>
          </li>
        </ul>
      </nav>
      <a class="phone" href="tel:+38899299996">
        тел. +38 899 299 996
      </a>
    </div>
  </div>
</header>