<section class="prices">
  <div class="container">
    <h2 class="title">Тарифи і ціни</h2>
    <p class="sub-title prices__text">
      Команда зеленого дизайну може розглянути бажання клієнта та створити індивідуальний пакет послуг, який відповідає їхнім очікуванням та бюджету.
    </p>
    <div class="prices__box">
      <ul class="prices__list">
        <li class="prices__item-first">1. Стартовий Пакет:</li>
        <li class="prices__item">Ландшафтний дизайн</li>
        <li class="prices__item">Посадка рослин</li>
        <li class="prices__item">Система поливу</li>
        <li class="prices__item">Консультація</li>
        <li class="prices__item-sum">900 грн м<sup>2</sup></li>
        <li class="prices__item-last">
          <a class="prices__item-btn" href="#">
            Замовити розрахунок
          </a>
        </li>
      </ul>
      <ul class="prices__list">
        <li class="prices__item-first">2. Преміум Пакет:</li>
        <li class="prices__item">Деталізований Ландшафтний Дизайн</li>
        <li class="prices__item">Посадка рослин</li>
        <li class="prices__item">Дизайн водних об'єктів: фонтани,
струмки, водоспади.</li>
        <li class="prices__item">Система поливу</li>
        <li class="prices__item">Планування системи освітлення</li>
        <li class="prices__item">Підтримка та догляд за ландшафтом</li>
        <li class="prices__item-sum">1800 грн м<sup>2</sup></li>
        <li class="prices__item-last">
          <a class="prices__item-btn" href="#">
            Замовити розрахунок
          </a>
        </li>
      </ul>
    </div>
    <div class="prices__inner"></div>
  </div>
</section>