<section class="projects">
  <div class="container">
    <h2 class="title">Наші проекти</h2>
    <p class="sub-title projects__text">
      Ми гарантуємо, що ваші очі будуть радіти кожен раз, коли ви будете насолоджуватися вашим новим ландшафтом.
    </p>

    <div class="projects__gallery">
      <div class="projects__gallery-item">
        <p class="projects__gallery-text">с. Віта Почтова, Київська обл.</p>
        <img class="projects__gallery-img" src="images/gallery/1.jpg" alt="">
      </div>
      <div class="projects__gallery-item rows-item">
        <p class="projects__gallery-text">с. Гатне, Київська обл.</p>
        <img class="projects__gallery-img img-g" src="images/gallery/2.jpg" alt="">
      </div>
      <div class="projects__gallery-item">
        <p class="projects__gallery-text">м. Знам’янка, Кіровоградська обл.</p>
        <img class="projects__gallery-img" src="images/gallery/3.jpg" alt="">
      </div>
      <div class="projects__gallery-item">
        <img class="projects__gallery-img" src="images/gallery/4.jpg" alt="">
        <p class="projects__gallery-text">м. Винники, Львівська обл.</p>
      </div>
      <div class="projects__gallery-item">
        <img class="projects__gallery-img" src="images/gallery/5.jpg" alt="">
        <p class="projects__gallery-text">м. Умань, Черкаська обл.</p>
      </div>
    </div>

    <div class="project__inner">

    </div>
  </div>
</section>