<section class="questions">
  <div class="container">
    <h2 class="title">Часті питання</h2>
    <div class="questions__inner">
      <div class="questions__accordeon accordeon">
        <div class="accordeon__item">
          <button class="accordeon__title">
            Скільки часу зазвичай потрібно для виконання проекту?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
        <div class="accordeon__item">
          <button class="accordeon__title">
            Як часто потрібно обслуговувати новий ландшафт?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
        <div class="accordeon__item">
          <button class="accordeon__title">
            Які методи оплати приймаємо?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
        <div class="accordeon__item">
          <button class="accordeon__title">
            Як довго  надаємо послуги післяпродажного догляду?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
        <div class="accordeon__item">
          <button class="accordeon__title">
            Чи можливе розбірка старого ландшафту перед початком нового проекту?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
        <div class="accordeon__item">
          <button class="accordeon__title">
            Чи надаєте консультації та розробку дизайну онлайн?
          </button>
          <p class="accordeon__descr">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione sed vitae nisi necessitatibus! Culpa obcaecati dolorum, dolor voluptatibus fugiat doloribus sed dignissimos iusto? Fuga dolor expedita, consectetur autem omnis at!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>