<section class="reviews">
  <div class="container">
    <h2 class="title">Відгуки</h2>

    <div class="reviews__slider swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-1.jpg" alt="photo user">
            Юлія, м. Київ
          </p>
          <p class="reviews__item-text">
            Звернулася до цієї ландшафтної компанії за розробкою та втіленням дизайну. Задоволена роботою, дослухалися до всіх моїх побажаннь. Рекомендую!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-2.jpg" alt="photo user">
            Олександра, м. Вінниця
          </p>
          <p class="reviews__item-text">
            Дякую за швидкість. Проект повністю відповідає моєму бажанню. Все зробили, прибрали та дали гарні поради, щодо догляду.
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-1.jpg" alt="photo user">
            Юлія, м. Київ
          </p>
          <p class="reviews__item-text">
            Звернулася до цієї ландшафтної компанії за розробкою та втіленням дизайну. Задоволена роботою, дослухалися до всіх моїх побажаннь. Рекомендую!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-2.jpg" alt="photo user">
            Олександра, м. Вінниця
          </p>
          <p class="reviews__item-text">
            Дякую за швидкість. Проект повністю відповідає моєму бажанню. Все зробили, прибрали та дали гарні поради, щодо догляду.
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-1.jpg" alt="photo user">
            Юлія, м. Київ
          </p>
          <p class="reviews__item-text">
            Звернулася до цієї ландшафтної компанії за розробкою та втіленням дизайну. Задоволена роботою, дослухалися до всіх моїх побажаннь. Рекомендую!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <p class="reviews__item-name">
            <img class="reviews__item-photo" src="images/rev-2.jpg" alt="photo user">
            Олександра, м. Вінниця
          </p>
          <p class="reviews__item-text">
            Дякую за швидкість. Проект повністю відповідає моєму бажанню. Все зробили, прибрали та дали гарні поради, щодо догляду.
          </p>
        </div>

      </div>

      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <div class="reviews__item-arrow reviews__item-prev">
        <img src="images/arowsPrev.svg" alt="">
      </div>
      <div class="reviews__item-arrow reviews__item-next">
        <img src="images/arowsNext.svg" alt="">
      </div>
    </div>
  </div>
</section>
