<section class="services">
  <div class="container">
    <h2 class="title">Послуги</h2>
    <p class="sub-title services__text">
      Ми працюємо з усіма типами просторів. Зверніться до нас, щоб створити ваш ідеальний ландшафт.
    </p>
    <ul class="services__list">
      <li class="services__item">
        <img class="services__img" src="images/serv-1.svg" alt="">
        <p class="services__item-text">
          Ландшафтний дизайн
        </p>
      </li>
      <li class="services__item">
        <img class="services__img" src="images/serv-2.svg" alt="">
        <p class="services__item-text">
          Трав’янисті покриття
        </p>
      </li>
      <li class="services__item">
        <img class="services__img" src="images/serv-3.svg" alt="">
        <p class="services__item-text">
          Системи поливу
        </p>
      </li>
      <li class="services__item">
        <img class="services__img" src="images/serv-4.svg" alt="">
        <p class="services__item-text">
          Догляд за рослинами 
        </p>
      </li>
    </ul>
    <div class="services__inner">
    </div>
  </div>
</section>